/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main.nf -profile test_local,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '2GB'
    max_time   = '1.h'

    // Genome references
    samplesheet="${projectDir}/test/data/local_sequencing-2.csv"
    reference_fasta="${projectDir}/test/reference/test_genome.fa"
    reference_fai = "${projectDir}/test/reference/test_genome.fa.fai"
    reference_gtf = "${projectDir}/test/reference/test_annotation.gtf"
    reference_splicesites = "${projectDir}/test/reference/test_annotation.splicesites.txt"
    rrna_intervals = "${projectDir}/test/reference/GRCh38.rRNA.interval_list"
    ref_flat = "${projectDir}/test/reference/refFlat.hg38.txt.gz"
    hisat2_index = "${projectDir}/test/reference/test_genome.index_HISAT2"
    star_index = "${projectDir}/test/reference/test_genome.index_STAR"
    genome_build = "GRCh38_Verily_v1"
    genome_annotation = "GENCODE v40"
}
